.ant-dropdown-button > button:first-child {
  padding-left: 5px;
}

.ant-dropdown-button > button:last-child:hover {
  border: 1px solid #1890ff;
  box-shadow: 0px 0px 5px #1890ff !important;
}
