.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & .navigation {
    width: 100%;
  }

  & .user {}

  & .logout {
    background-color: white;
    color: #001529;
  }
}

.header-login {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}
