.sidebar {
  width: 60px;
  height: 100%;
}

.menu-item {
  margin-top: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 40px !important;
}

.menu-submenu {
  margin-top: 10px !important;
  padding-top: 10px !important;
}