.sidebar {
  width: 60px;
  height: 100%;
}

.menu-item {
  margin-top: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 40px !important;
}

.menu-submenu {
  margin-top: 10px !important;
  padding-top: 10px !important;
}

.add-icon {
  transition: all 1s ease-in-out !important;

  &:hover {
    transform: rotate(360deg);
  }
}

.add-icon:hover {
  
}