.select-columns-button {
  margin-left: 20px !important;
  padding-top: 4px !important;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.reset-select-columns-button {
  margin-left: 30px;
  border: 1px solid white;

  &:hover {
    border: 1px solid #40a9ff;
  }
}
