@font-face {
  font-family: 'Roboto';
  src: url('./vendor/RobotoMono/RobotoMono-Medium.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./vendor/OpenSans/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'OpenSans', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}